.navbar {
    display: flex;
    padding: 20px 50px;
    background: #0d0e12;
    color: var(--color0);
    z-index: 999999;
  }
  
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999999;
  }
  
  .navMenu {
    display: block;
    min-height: 100%;
  }
  .titleLink{
   font-size: 18px;
   font-weight: 700;
  }
 .dropdownMenu {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
  
  .menuIcon {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navMenu {
    width: 300px;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #0d0e12;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  
  .navItem {
    width: 100%;
    padding: 20px 10px;
    color: #75798d;
    border-bottom: 1px solid var(--color2);
    transition: all .3s ease;
  }
  .navItem:hover:not(.dropdownMenu) {
    background-color: #181a20;
    color: #c0b8b8;
  }
  
  .drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdownItem {
    padding: 10px 0;
    font-size: 14px;
  }
  .dropdownMenu {
    position: static;
  }
  
  .dropBtn {
    display: inline-flex;
    transition: all 0.5s ease;
    padding: 10px;
  }
  
  .rotate {
    rotate: 90deg;
  }
  
  .navMenu.active,
  .navItem:hover{
    transform: translateX(0);
  }
  .dropdownMenu.active {
    max-height: 1000px;
    opacity: 1;
}