@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  font-family: 'Inter', sans-serif;
}

:root {
  --colorblack: #000;
  --colorblack1: #0f0d1d;
  --color0: #fff;
  --color1: #b4b4b4;
  --color2: #b4b4b433;
  --color3: #6b6b6be3;
  --color4: #f8f2f2c2;
  --color5: #0f0d1d;
  --color7: #e0eafb;
  --color8: #3c72fc;
  --color9: #142958;
  --color10: #9c9c9c;
  --colorgreen: rgb(6, 129, 6);
  --colororange: rgb(194, 137, 15);
  --colorred: rgb(214, 7, 7);
  --coloryellow: rgb(177, 177, 21);
  --gradient1: 90deg, #0f0d1d -76.72%, #3c72fc 191.51%;
  --gradient2: 90deg, #3c72fc -10.59%, #00060c 300.59%;
  --gradient3: 0deg, rgba(0, 6, 12, 1) 21%, rgba(60, 114, 252, 1) 99%;
  --boxShadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 10px auto 0;
  padding: 0 5px;
}

.ant-drawer-header-title {
  flex-direction: row-reverse;
}

.logo {
  width: 180px;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
  padding: 0 20px;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ant-menu {
  border-bottom: none !important;
}

.ant-menu-item::after {
  position: static !important;
  inset-inline: 0 !important;
  bottom: 0 !important;
  border-bottom: 0 !important;
  border-color: transparent !important;
  content: "" !important;
}
.ant-menu-item:hover::after {
  border-bottom-width: 0 !important;
  border-bottom-color: transparent !important;
}

.btnRandevu {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .ant-menu-item {
    border-bottom: 1px solid #ccc;
  }
}

.footer{
  padding: 60px 5px;
}

.footerTop{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footerTop p{
  font-size: 14px;
  line-height: 25px;
}
.footerAbout{
  flex: 1;
}

.footerLogo{
  margin-bottom: 20px;
}

.footerAbout p{
  max-width: 400px;
}

.footerContactSocial{
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.socialİcons{
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.footerTop h4{
  margin-bottom: 10px;
}

.footerSocial p:last-child{
  max-width: 300px;
}

.footerBottom{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}

.footerPrivacyTerms{
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 768px){
.footerTop{
  flex-direction: column;
  gap: 40px;
}
.footerBottom{
  gap: 20px;
  flex-direction: column;
}
.footerBottom p{
  text-align: center;
}
.footerPrivacyTerms {
  display: inline-flex;
  gap: 20px;
justify-content: center;
  }
}
@media screen and (max-width: 600px){
  .footerContactSocial{
    flex-direction: column;
    gap: 40px;
  }
  }