# Database url
DATABASE_URL =mongodb://0.0.0.0:27017/

# Server port number
PORT = 8000

# Frontend host name
FRONTEND_HOST = http://localhost:3000

# Salt
SALT = 10;

# EMail
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USER = 'alimayukk22@gmail.com'
EMAIL_PASS = 'examplepass'
EMAIL_FROM = 'alimayukk22@gmail.com'

# JWT
JWT_ACCESS_TOKEN_SECRET_KEY="fsdfsdjlkj32423klf8789"
JWT_REFRESH_TOKEN_SECRET_KEY = "4534fsdfsdgfhfghe5"
