@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f4f6;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 10px auto 0;
  padding: 0 8px;
}

.logo {
  width: 180px;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
  padding: 0 20px;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.034) 0px 3px 6px, rgba(0, 0, 0, 0.068) 0px 3px 6px;
}

.desktopMenu {
  flex: 2;
  text-align: center;
}

.btnRandevu {
  margin-right: 20px;
}

.imageSide {
  background-image: url("https://images.pexels.com/photos/6812453/pexels-photo-6812453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
}

/* BLOG DETAIL*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.overlay:hover {
  color: red !important;
}

.footer {
  padding: 60px 5px;
}

.footerTop {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footerTop p {
  font-size: 14px;
  line-height: 25px;
}
.footerAbout {
  flex: 1;
}

.footerLogo {
  margin-bottom: 20px;
}

.footerAbout p {
  max-width: 400px;
}

.footerContactSocial {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.socialİcons {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
.footerTop h4 {
  margin-bottom: 10px;
}

.footerSocial p:last-child {
  max-width: 300px;
}

.footerBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 14px;
}

.footerPrivacyTerms {
  display: flex;
  gap: 20px;
}

.locale-switcher {
  position: relative;
}

.locale-switcher__toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  background-color: #3b82f6; /* Equivalent to bg-blue-500 */
  outline: none;
  border-radius: 4px; /* Equivalent to rounded */
  padding: 0 8px; /* Equivalent to px-2 */
  color: white;
  cursor: pointer;
}

.locale-switcher__label {
  user-select: none; /* Equivalent to select-none */
}

.locale-switcher__dropdown {
  position: absolute;
  left: 0;
  margin-top: 8px; /* Equivalent to mt-2 */
  width: 100%;
  background-color: #3b82f6; /* Equivalent to bg-blue-500 */
  border-radius: 4px; /* Equivalent to rounded */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Equivalent to shadow-lg */
  z-index: 10;
}

.locale-switcher__item {
  padding: 8px 16px; /* Equivalent to px-4 py-2 */
  color: white;
  cursor: pointer;
}

.locale-switcher__item:hover {
  background-color: #60a5fa; /* Equivalent to hover:bg-blue-400 */
}
